<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/cache
            http://www.springframework.org/schema/cache/spring-cache-3.1.xsd">

<bean id="aceAppPropertyconfig"
    class="main.java.Common.AceAppPropertyconfig">
    <property name="locations">
        <array>
            <value>classpath:/apppackage.properties</value>
        </array>
    </property>
</bean>
<bean id="personMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">  
    <property name="mapperInterface" value="main.java.dao.PersonDao" />  
    <property name="sqlSessionFactory" ref="sqlSessionFactory" />  
</bean> 
<bean id="newPersonMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">  
    <property name="mapperInterface" value="main.java.dao.NewPersonDao" />  
    <property name="sqlSessionFactory" ref="sqlSessionFactory" />  
</bean> 

<bean id="editService" class="main.java.service.EditServiceInMemory" />
<bean id="personInMemorySerive" class="main.java.service.PersonService" />

<bean id="newPersonSerivce" class="main.java.service.NewPersonSevice" >
    <property name="personDao" ref="personMapper" />
</bean>
<bean id="newPersonCacheService" class="main.java.service.NewPersonCacheService">
    <property name="newPersonDao" ref="newPersonMapper" />
</bean>
</beans>